<nav>
  <div class="nav-wrapper background-nav">
    <a href="#" data-target="slide-out" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <a href="#" class="brand-logo right"><img class="Logo" src="{{ logoNav }}" title="logo" /></a>
      <li>
        <a href="sass.html">{{ inicio }}</a>
      </li>
      <!--Interpolacion para llamar variables-->
      <li>
        <a href="badges.html">{{ catalogo }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ contacto }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ sucursales }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ catalogo }}</a>
      </li>
      <li>
        <a href="collapsible.html">{{ redesSociales }}</a>
      </li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <a href="#user"><img class="circle" src="{{ logo }}" /></a>
    </div>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons iconColor">home</i>{{ inicio }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""
      ><i class="material-icons iconColor">bookmark</i>{{ categorias }}</a
    >
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons iconColor">book</i>{{ catalogo }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""><i class="material-icons iconColor">email</i>{{ contacto }}</a>
  </li>
  <li>
    <a class="waves-effect" href=""
      ><i class="material-icons iconColor">location_city</i>{{ sucursales }}</a
    >
  </li>
  <li>
    <a class="waves-effect" href=""
      ><i class="material-icons iconColor">share</i>{{ redesSociales }}</a
    >
  </li>
</ul>
